html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color:white ;
}
a {
    text-decoration: none;
    color: black;
}
.header{

    display: flex;
    justify-content: center;
    padding: 8px;
    color: pink;
    font-size: 38px;
}
.container{
    max-width: 1050px;
    width: 100%;
    border: transparent;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container.nav {
    flex-flow: row-reverse;
}
.tulp{
    display: flex;
    flex-direction: column;
    padding: 1px;
    
}
.tulp img {
    width: 250px ;
}
.tulp.vasak {
    margin-right: 20px;
}
.flex-1 {
    flex:1 1 0%;
}
.flex-2 {
    flex: 2 2 0%;
}
.log img{
    width: 200px;
    height: auto;
    margin-bottom: auto;
}
.page {
    display: flex;
    flex-direction: column;
    }
.page img {
    width: 100%;
    height: auto;
    margin-bottom: auto;
}
.footer{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    border: transparent;
    padding: 0.5rem;
    color: black;
    background-color:lightgray;
    margin-top: auto;
    padding-top: 10px;
    margin: 0.1rem;
}
.footer a {
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav{
    display: flex;
}
.content {
    max-width: 940px;
    margin: auto;
    display: flex;
}
.profiil {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: 200px;
    justify-content: space-between;
    background: white;
    transition: all 2s;
    background-size: cover;
    
}
.profiil:hover {
    background: white;
    transform: scale(-1)rotate(360deg) scaleX(-1);
    background: pink;
}
.half {
    width: 50%;
    margin: 0.10px;
}
.center {
    display: flex;
    justify-content: center;
}
.blog {
    flex-direction: column;
    width: 300px;
}
.blogkokkuvote {
    font-size: 10px;
    margin-top: 10px;
}
.page {
    font-size: 10px;
}
.ups {
    text-align: center;
}

.pliks {
    text-align: left;
    font-size: 14px;
    font-weight: 100px;
}
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.social-icons i {
    margin: 5px;
    color: pink;
}
a:visited {
    color: black;
    text-decoration: none;
}
.btn:hover + .menu,
.menu:hover {
    max-width: 940px;
}
.dropbtn {
    background-color: white;
    color: pink;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    font-size: 16px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color:lightgray;}

  .raamat {
      overflow: hidden;
      
  }
  

  @media only screen and (max-width: 750px) {
      .container {
          justify-content: center;
          flex-wrap: wrap;
      }
      img {
          min-width: 400px;
      }
  }